# Gradle local cache
.gradle/
.gradle-user/

# Build outputs (all modules)
**/build/

# Java compiled artifacts
*.class

# Generated reports
build/reports/
**/reports/

# OS/editor noise (optional)
.DS_Store
Thumbs.db

#assets
.tmp_assets/
